/* src/App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin; /* Responsive logo size */
  pointer-events: none; /* Prevent pointer events on the logo */
}

.App-header {
  background-color: #282c34; /* Dark background color */
  min-height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Column direction */
  align-items: center; /* Center items */
  justify-content: center; /* Center items vertically */
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: white; /* White text color */
}
