/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Global styles */
body {
    margin: 0;
    font-family: "Roboto", sans-serif; /* Set Roboto as the default font */
    background-color: #f0f0f0; /* Light background color */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0; /* Remove default margin */
    font-weight: 500; /* Set a consistent font weight */
}

p {
    margin: 0 0 1em; /* Margin below paragraphs */
    line-height: 1.5; /* Improve readability */
}

/* App component styles */
.App {
    text-align: center; /* Center text alignment */
}

.App-logo {
    height: 40vmin; /* Responsive logo size */
    pointer-events: none; /* Prevent pointer events on the logo */
}

.App-header {
    background-color: #282c34; /* Dark background color */
    min-height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Column direction */
    align-items: center; /* Center items */
    justify-content: flex-start; /* Align items to the top */
    font-size: calc(10px + 2vmin); /* Responsive font size */
    color: white; /* White text color */
}

/* Toolbar styles */
.MuiToolbar-root {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

/* Button styles */
.MuiButton-root {
    margin: 0 10px; /* Space between buttons */
}

/* Card styles for projects */
.MuiCard-root {
    margin: 20px; /* Margin around each card */
}

/* Snackbar styles */
.MuiSnackbar-root {
    bottom: 50px; /* Position above the bottom */
}

/* Skill icon styles */
.skill-icon {
    font-size: 48px; /* Adjust size */
    margin-bottom: 8px; /* Spacing below icon */
    color: #007bff; /* Change icon color */
}
